<div class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Login</h2>
    <form [formGroup]="userData" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-semibold mb-2"
          >Username</label
        >
        <input
          type="text"
          id="username"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600"
          placeholder="Enter your username"
          name="email"
          formControlName="email"
        />
        <div *ngIf="userData.get('email').invalid && (userData.get('email').dirty || userData.get('email').touched )">
              <span *ngIf="userData.get('email').errors.required" class="text-red-500">Bắt buộc nhập</span>
              <span *ngIf="userData.get('email').errors.minlength" class="text-red-500">Ít nhất 6 ký tự</span>
        </div>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 font-semibold mb-2"
          >Password</label
        >
        <input
          type="password"
          id="password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600"
          placeholder="Enter your password"
          name="password"
          formControlName="password"
        />
        <div *ngIf="userData.get('password').invalid && (userData.get('password').dirty || userData.get('password').touched )">
          <span *ngIf="userData.get('password').errors.required" class="text-red-500">Bắt buộc nhập</span>
          <span *ngIf="userData.get('password').errors.minlength" class="text-red-500">Ít nhất 6 ký tự</span>
        </div>
      </div>
      <div class="flex items-center justify-between mb-4">
        <div class="flex items-center">
          <input
            type="checkbox"
            id="remember"
            class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
          />
          <label for="remember" class="ml-2 block text-sm text-gray-900"
            >Remember me</label
          >
        </div>
        <a routerLink="#" class="text-sm text-blue-600 hover:underline"
          >Forgot password?</a
        >
      </div>
      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600"
      >
        Register
      </button>
    </form>
    <p class="mt-6 text-center text-gray-700">
      Already haven't an account?
      <a routerLink="/register" class="text-blue-600 hover:underline">Register</a>
    </p>
  </div>
</div>
